---
layout: base.njk
title: "home"
---

# hey, i'm kyle

i'm an aviation nerd who codes in swift and writes esoteric blog posts on the side. check out my [about](/about/), [resume](/resume/), and [blog](/blog/).